.about-main
    .jumbotron
        .container
            .row
                .col-md-offset-1
                    %h1 Learn Chinese Characters
            .row
                .col-md-6.col-md-offset-1
                    %ul.main-list
                        %li Learn Hanzi using pictures and photos.
                        %li Create lists of Hanzi words along with their English translations.
                        %li Take a photo with your phone camera and attach it to each word to improve recall.
                        %li Generate and print flashcards so you can practice anywhere.
                        %li Study on the go with your iPhone or Android smartphone
    <!-- Page Content -->
    .container
        .row
            .col-md-8
                :markdown
                    ## About
                
                    This site is designed to help you learn Chinese Hanzi characters, by associating characters and Mandarin words with photos from your everyday life.
                
                    This is a demo application written by me, [Gerard Condon](http:www.gerardcondon.com). It was written as a way to learn Ruby on Rails in a practical manner. Blog posts detailing the creation of the site will be written and linked to from here.
                    
                    I'm a software developer based in Cork, Ireland. I use C++, Java, Ruby and JavaScript in my day job.
            
            .col-md-4
                %h2 Contact Me
                %address
                    <strong>Email:</strong> <a href="mailto:chinese-learning-app@gmail.com">Chinese Learning App</a> <br>
                    <strong>Google Plus:</strong> <a href="https://plus.google.com/100711646677802807822?rel=author">Gerard Condon</a> <br>
                    <strong>Twitter:</strong> <a href="https://twitter.com/gercondon">gercondon</a>
