<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    A new subscriber (<%= @subscriber.name %>) has signed up for the Hanzi application.
  </body>
</html>