= simple_form_for subscription, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
	= f.input :name
	= f.input :email

	= f.button :submit, 'Subscribe', class: "btn btn-primary pull-right"