.home-main
	.jumbotron
		.container
			.row
				%h1 Thanks #{subscription.name} for signing up

				%p We'll be in touch soon when registrations are open

				%p In the meantime why not try the site using the demo account

				%p and check out these great resources for learning Chinese

