<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @subscriber.name %>
    
      <p>
      Thanks for subscribing to the Chinese Learning Application.
      </p>
      
      <p>
      We'll be in touch soon when the site goes live.
      </p>
    
      <p>
      Best,<br/>
      Gerard
      </p>
      
  </body>
</html>