<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @subscriber.name %>
    
      Thanks for subscribing to the Chinese Learning Application.
      We'll be in touch soon when the site goes live.
    
      Best,<br/>
      Gerard
    
  </body>
</html>